.section-1{
    margin-left: 60px;
    padding-top: 5px;
    max-width: 300rem;  
    
}
.navigation{
    display: flex;  
    position: sticky;
    top: 5px;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    padding: 5px;
}
.options{
   
    display: flex;
}
.logo{
    display:flex;
    float: left;
    cursor: pointer;
    margin-right: 0px;
    height: 25px;
    margin-top: 18px;
}

.option{
     margin-top: 20px;
     margin-left: 20px;
     background-color: transparent;
     color: black;
     border: none;
     float: left;
     order:2;
     display: inline-flex; 
     font-size: 16px;
     font-weight: 600;
     font-family: Slack-Circular-Pro, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
     cursor: pointer;
    } 
.nav-item-dropdowns{
    display:inline-flex;
    background-color: transparent;
    color: black;
    border: none;
    font-family: Slack-Circular-Pro, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;   
}
.dropdown-menu{
    width: 650px;
}
.search svg{
    color: white;
    fill:white;
    float: right;
    margin-left: 200px;
    height: 20px;
    width: 20px;
    margin-top: 22px;
    cursor: pointer;
}
.signin h5{
    color: black;
    font-size: 16px;
    font-weight: 600;
    margin-top: 22px;
    font-family:  Slack-Circular-Pro, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
    padding-left:25px;
    cursor: pointer;
}
.title1{
    padding:15px 20px;
    display:inline-flex;
    margin-top:10px;
    margin-left:30px;
    cursor: pointer;
    font-family: Slack-Circular-Pro, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
    color: #541554;
    font-weight: 16px;
    cursor: pointer;
}
.title2{
    padding:15px 20px;
    display:inline-flex;
    margin-top:10px;
    margin-left:5px;
    cursor: pointer;
    font-family: Slack-Circular-Pro, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
    color: #541554;
    cursor: pointer;
}





/* top section*/

.container{
    margin-top: 100px;
}
.row{
   margin-left: 0px;
}
.top{
   font-family:  Slack-Larsseit,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
}
.top .int{
    font-size: 14px;
    font-weight: 700;
}
.top .title{
    font-size: 50px;
    font-weight: 700;
    line-height: 1.1875;
}
.top .description{
    font-size: 20px;
    font-weight: 400;
} 
.button1{
    padding: 20px 40px;
    font-weight: 700;
    border: none;
    border-radius: 4px;
}
.primary{
    color: white;
    background-color: #611f69;
}
.secondary{
    color: #611f69;
    border: 1px solid #611f69;
}
.top .vid{
    max-width: 100%;
}


/*section-2*/

.section-2{
    margin-top: 180px;
    background-color: #f5f4f5!important;
    padding-bottom: 120px;
}
.heading{
    font-family:  Slack-Larsseit,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-size:32px;
    font-weight:700;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    margin-left: 320px;
    padding-top: 80px;
    
}
.sub-heading{
    font-family:  Slack-Larsseit,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-left: 200px;
    max-width: 100%;  
    padding-top: 15px;
    line-height: 30px;
}
.image{
    padding-top: 15px;
    padding-left: 45px;
}
.image-text{
    font-weight: 650;
    padding-top: 15px;
    padding-left: 35px;
    width: 390px;
}
.image-text2{
    padding-top: 15px;
    padding-left: 35px;
}



/*section-3*/

.section-3{
    background-color: white;   
}
.vd1{
    width: 600px;
}
.vd-des{
    font-family:  Slack-Larsseit,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-size: 32px;
    font-weight: 700;
    padding-top: 120px;
    padding-left: 30px;
}
.sub-des{
    font-family:  Slack-Larsseit,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-size: 20px;
    padding-top: 20px;
    padding-left: 30px;
    width: 495px;
}
.link{
    font-family:  Slack-Larsseit,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-size: 19px;
    padding-top: 20px;
    padding-left: 30px;
}
.des2{
    font-family:  Slack-Larsseit,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-size: 32px;
    font-weight: 700;
    padding-top: 120px;
    padding-left: 30px;
}
.sub-des2{
    font-family:  Slack-Larsseit,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-size: 20px;
    padding-top: 20px;
    padding-left: 30px;
    width: 495px;
}
.link2{
    font-family:  Slack-Larsseit,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-size: 19px;
    padding-top: 20px;
    padding-left: 30px;
}
.vd2{
    width: 600px;
}

/*section-4*/
/* .section-4{
    border-bottom: 1px solid lightgray;
    border-bottom-color: rgb(0, 0, 0);
} */
.des3{
    font-family:  Slack-Larsseit,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-size: 32px;
    font-weight: 700;
    padding-top: 80px;
    padding-left: 30px;
}
.sub-des3{
    font-family:  Slack-Larsseit,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-size: 20px;
    padding-top: 20px;
    padding-left: 30px;
    width: 495px;
}
.box-links{
    display: flex;
    grid-template-columns: 1fr 1fr;
}
.box-link1{
    display: inline-flex;
    width: 300px;
    background-color: #fff;
    border: none;
    box-shadow: 0 0 2rem rgba(0,0,0,.1);
    color: #1d1c1d;
    flex-direction: column;
    font-size: 1.125rem;
    height: 117px;
    line-height: 1.625rem;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    width: 300px;
    transition: width 2s;
    font-size: 18px;
    height: 250px;
    line-height: 26px;    
}
/* .box-link:hover{
    box-shadow: 0 0 2rem rgba(0,0,0,.1);
    width: 310px;
} */
.box-link2{
    width: 300px;
    background-color: #fff;
    border: none;
    box-shadow: 0 0 2rem rgba(0,0,0,.1);
    color: #1d1c1d;
    flex-direction: column;
    font-size: 1.125rem;
    height: 117px;
    line-height: 1.625rem;
    padding: 1rem;
    text-decoration: none;
    transition: transform 420ms cubic-bezier(.165,.84,.44,1);
    width: 300px;
    font-size: 18px;
    height: 250px;
    line-height: 26px;
}

/*section-5*/
.link3{
    padding-top: 35px;
    padding-left: 500px;
    font-family:  Slack-Larsseit,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-size: 18px;
    font-weight: 400;
    width: 100%;
}
.icon{
    display: inline-flex;
    justify-content: space-evenly;
    width: 100%;
    padding-top: 40px;
}
/*section-6*/
.heading-3{
    font-family:  Slack-Larsseit,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-size:32px;
    font-weight:700;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    margin-left: 380px;
    margin-top: 200px;
}

.sub-heading-3{
    font-family:  Slack-Larsseit,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-size: 18px;
    margin-left: 300px;
    max-width: 100%;  
    margin-top: 20px;
    line-height: 26px
}

#caraouselExample{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
    transition: transform 420ms cubic-bezier(.165,.84,.44,1);
}



/*section-7*/
#accordion{
    border: none !important;
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
}
#collapseone{
    margin-left: 20px;
}

.question-header{   
    color: rgb(0, 0, 0);
    font-family: Slack-Larsseit, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: -0.3px;
    line-height: 38px;
    margin-bottom: 16px;
    margin-top: 20px;
    text-align: center
}
#headingOne{
    border: none !important;
}
#headingTwo{
    border: none !important;
}#headingThree{
    border: none !important;
}#headingFour{
    border: none !important;
}
.card{
    border: none !important;
    border-right: transparent;
}
.card-body{
    padding-left: 20px;
}


/*section-8*/

.section-8{
    margin-top: 70px;
    padding-bottom:100px;
    background-color: #541554;
    clip-path: ellipse(75% 100% at center top);
    height: auto;
    min-height: 370px;
}


.header{
    font-family: Slack-Larsseit, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
    color: white;
    font-family: inherit;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    letter-spacing: -0.3px;
    line-height: 57px;
    padding-top: 62px;    
}
.button-element{
    padding-top: 32px;
    font-family: inherit;
    margin-left: 420px;              
}
.slack-button{
    font-family: Slack-Larsseit, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
    font-family: inherit;
    background-color: white; 
    color:  #541554;  
    padding: 20px 40px;          
}
.contact-button{
    font-family: Slack-Larsseit, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
    font-family: inherit;
    background-color: white; 
    color:  #541554;  
    padding: 20px 30px;      
}

/*section-9*/
.section-9{
    display: inline-flex;
    margin-left: 60px;
}
.options-components{
    margin-left: 110px;
    margin-top: 30px;
    font-size: .875rem;
    height: 40px;   
} 
.WHY-SLACK{
    display: inline-flex;
}
.PRODUCT{
    display: inline-flex;
}
.PRICING{
    display: inline-flex;
}
.UI-components{
    cursor: pointer;
    color:black;
    margin-top: 15px;
    text-decoration: none;
    font-size: .875rem;
    height: 40px;  
}
.UI-components:hover {
    color: #1264a3;
}

/*section-10*/
.section-10{
    display: inline-flex;
    margin-top: 470px;
    margin-left: 20px;
}

.footer-icons{
     
}