html {
    font-size: 16px;
    color: #000;
}
body{
    margin:0;
}
.section-1{
    padding-left:60px;
    padding-top: 5px;
    background-color: #541554;
    max-width: 300rem;  
    padding-bottom: 70px;  
}

.navigation{
    display: flex;  
}

.logo{
    display:flex;
    float: left;
    cursor: pointer;
    margin-right: 0px;
    height: 25px;
    margin-top: 18px;
}
/* .options h5{
    color: white;
    float: left;
    order:2;
    display: inline-flex;
    padding-left: 35px;
    font-size: 16px;
    font-weight: 600;
    font-family: Slack-Circular-Pro, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
    cursor: pointer;
} */
.search svg{
    color: white;
    fill:white;
    float: right;
    margin-left: 200px;
    height: 20px;
    width: 20px;
    margin-top: 22px;
    cursor: pointer;
}
.signin h5{
    color: white;
    font-size: 16px;
    font-weight: 600;
    margin-top: 22px;
    font-family:  Slack-Circular-Pro, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
    padding-left:25px;
    cursor: pointer;
}
.title1{
    padding:15px 20px;
    display:inline-flex;
    margin-top:10px;
    margin-left:30px;
    cursor: pointer;
    font-family: Slack-Circular-Pro, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
    color: #541554;
    font-weight: 16px;
    cursor: pointer;
}
.title2{
    padding:15px 20px;
    display:inline-flex;
    margin-top:10px;
    margin-left:5px;
    cursor: pointer;
    font-family: Slack-Circular-Pro, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
    color: #541554;
    cursor: pointer;
}
.description1{
    padding-top:3.4rem;
    color:white;
    font-size: 4rem;
    font-weight:bolder;
    font-family: Slack-Circular-Pro, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
}
.description2{
    font-weight:600;
    color:rgb(236, 178, 46);
    font-size: 4rem;
    font-family: Slack-Circular-Pro, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
}
.para{
    margin-top: 8px;
    line-height: 26.6667px;
    color: white;
    max-width: 35rem;
    font-size: 20px;
    font-weight: 500;
    font-family: Slack-Circular-Pro, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
}
.button1{
    margin-top: 5px;
    padding: 15px 15px;
    color:#541554;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    cursor: pointer;
}
.button2{
    margin-top: 5px;
    padding: 15px 15px;
    background-color: #007aff;
    color: white;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    cursor: pointer;
}
.para1{
    font-family: Slack-Circular-Pro, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
    font-size: 20px;
    font-weight: 550;
    color: white;
}
.video{
    float: right;
    cursor: pointer;   
}

.section-2{
    background-color:  #F4EDE4;
    padding-bottom: 1050px;
}

.message h5{
    text-align: center;
    font-family: Slack-Circular-Pro, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
    line-height: 15.75px;
    font-size: 14px;
    padding-top: 27px;
}

.companynames{
    align-items: center;
    display: flex;
    justify-items: center;
    margin-left: 150px;
    margin-right: 150px;
    max-width: 1010px;
    font-size:16px;
    height: 40px;
    text-align: center;
    justify-content: space-around;
    font-family: Slack-Circular-Pro, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
    cursor: pointer;
}
content{
    display: flex;
    max-width: 1280px;
}
.video2{
    padding-top:48px;
    padding-bottom: 48px;
    float: left;
}
.description3{
    max-width:600px;
    align-items: center;
    margin-top: 160px;
    float: right;
    font-size: 50px;
    color:black;
    font-weight:bolder;
    font-family: Slack-Circular-Pro, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;   
}
.para2{
    font-family: Slack-Circular-Pro, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
    font-size: 18px;
    font-weight: 540;
    padding-top: 220px;
    line-height: 26px;
    max-width:480px;
    align-items: center;
    float: right;
    padding-top: 0px;
    margin-bottom: 16px;
    margin-right: 118px;
    color: black;
}
.link p{
    margin-left: 140px;
    color: blue;
}
.link{
    display: inline-block;
    font-family: Slack-Circular-Pro, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding-top: 220px;
    line-height: 26px;
    padding-top: 0px;
    margin-bottom: 16px;
    padding-right: 310px;
}
.video3{
    padding-top: 100px;
    float: right;
    cursor: pointer;
    margin-right: 0px;
    max-width: 100%;
}
.description4{
    max-width:600px;
    align-items: center;
    margin-top: 140px;
    margin-left: 70px;
    margin-right: 80px;
    float: left;
    font-size: 50px;
    font-weight: 800;
    max-width: 480px;
    line-height: 46px;
    color:black;
    font-weight:bolder;
    font-family: Slack-Circular-Pro, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;   
}
.para3{
    font-family: Slack-Circular-Pro, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
    font-size: 18px;
    font-weight: 525;
    padding-top: 220px;
    line-height: 26px;
    max-width:480px;
    align-items: center;
    float: left;
    padding-top: 2px;
    margin-bottom: 16px;
    margin-left: 70px;
    color: black;
}
.link2{
    font-family: Slack-Circular-Pro, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding-top: 220px;
    line-height: 26px;
    max-width: 480px;
    float: left;
    padding-top: 0px;
    margin-bottom: 16px;
    padding-right: 310px;
    margin-left:70px;   
}
.link2 p{
    max-width: 480px;
    color: blue;
}

.video4{
    float: left;
    padding-top: 120px;
    cursor: pointer;
    margin-left: 0px;
    max-width: 100%;
}
.description5{
    align-items: center;
    margin-top: 150px;
    margin-left: 70px;
    margin-right: 80px;
    float: right;
    font-size: 50px;
    font-weight: 600;
    max-width: 480px;
    line-height: 46px;
    color:black;
    font-weight:bolder;
    font-family: Slack-Circular-Pro, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif; 
} 
.para4{
    font-family: Slack-Circular-Pro, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
    font-size: 18px;
    font-weight: 530;
    padding-top: 220px;
    line-height: 26px;
    max-width:480px;
    align-items: center;
    float: right;
    padding-top: 2px;
    margin-bottom: 16px;
    margin-right: 80px;
    color: black;
}
.link3{
    font-family: Slack-Circular-Pro, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding-top: 220px;
    line-height: 26px;
    max-width: 480px;
    float: right;
    padding-top: 0px;
    margin-bottom: 16px;
    padding-right: 340px;
    margin-left:70px;
}
.options{
    display: flex;
}

.option{
     margin-top: 20px;
     margin-left: 20px;
     background-color: transparent;
     color: white;
     border: none;
     float: left;
     order:2;
     display: inline-flex; 
     font-size: 16px;
     font-weight: 600;
     font-family: Slack-Circular-Pro, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
     cursor: pointer;
} 
.nav-item-dropdowns{
    display:inline-flex;
    background-color: transparent;
    color: white;
    border: none;
    font-family: Slack-Circular-Pro, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;   
}

/* #features{
    display:inline-flex;
    margin-top: 26px;
    margin-left: 17px;
    background-color: transparent;
    color: white;
    border: none;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
} */
/* .option2{
    margin-top: 20px;
    margin-left: 20px;
    background-color: transparent;
    color: white;
    border: none;
    float: left;
    order:2;
    display: inline-flex; 
    font-size: 16px;
    font-weight: 600;
    font-family: Slack-Circular-Pro, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
    cursor: pointer;
}  */
.dropdown-menu{
    width: 650px;
}
 
 /* .nav-item-dropdowns{
    display:inline-flex;
    background-color: transparent;
    color: white;
    border: none;
    font-family: Slack-Circular-Pro, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;   
} */


/*section-3*/
.main-heading h1{
    margin-left: 300px;
    font-family: Slack-Circular-Pro, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif; 
    font-size: 50px;
    font-weight: 700;
    line-height: 56px;
    color: black;
}

.sub-heading{
    margin-left: 350px;
    margin-top: 15px;
    font-size: 18px;
    font-weight: 400;
}
.button-group{
    margin-left: 450px;
}
.primary{
    background-color:rgb(92, 29, 98);
    color: white;
    font-family: Slack-Circular-Pro, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif; 
    padding:15px 20px;
    display:inline-flex;
    margin-top:10px;
    margin-left:30px;
    cursor: pointer;
    font-weight: 16px;
    cursor: pointer;
}
.secondary{
    padding:15px 20px;
    display:inline-flex;
    margin-top:10px;
    margin-left:5px;
    cursor: pointer;
    font-family: Slack-Circular-Pro, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
    color: #541554;
    cursor: pointer;
    background-color: white;
}

.number{
    font-size: 64px;
    font-weight: 700;
    margin-left: 180px;
    color: rgb(97, 31, 105);
}

.p1{
    max-width: 190px;
    margin-left: 180px;
    margin-top: 0px !important;
    color: black;
    font-size: 14px;
}
.percent-container{
    display: inline-flex;
    margin-top: 30px;
}
.media-content{
    display: inline-flex;
}
.video-content{
    height: 60;
    width: 84;
    max-width: 685px;
    clip-path: inset(25px 0px round 0px 500px 500px 0px);
}
.video-message{
    float: right;
    max-width: 600px;
    margin-top: 100px;
    font-family: Slack-Larsseit, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
    font-size: 28px;
    font-style: italic;
    font-weight: 300
}
.customer{
    margin-top: 20px;
    font-size: 18px;
    font-family: Slack-Larsseit, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
    font-style:normal;
    color: rgb(0, 0, 0);
    font-weight: 700;
}
.video-message h6{
    margin-top: 0px;
    color: rgb(0, 0, 0);
    font-family: Slack-Circular-Pro, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
    font-size: 16px;
    font-style:normal;
}
.video-message h5{
    color:rgb(18, 100, 163);
    margin-top: 20px;
    font-family: Slack-Circular-Pro, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
    border-bottom-color:rgb(18, 100, 163);
    font-style:normal;
    font-size: 17.6px;
    font-weight: 500;
    transition-property: border;
    cursor: pointer;
}
video-message h5:hover {
    border:1px solid rgb(18, 100, 163);
}
.customer-message{
    color: rgb(105, 105, 105);
    font-family: Slack-Circular-Pro, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    margin-left: 30px;
    text-align: center;
}

/*section-4*/
.section-4{
    margin-top:20px;
    background-color: rgb(244, 237, 228);
    height: 600px;
}

.heading{
    text-align: center;
    padding-top: 15px;
}
.post-container{
    display: flex;
}
.post-slot {
    width: 300px;
    margin-right: 20px;
}
.posts{
    margin-left: 30px;
    padding: 20px 10px;
    background-color: white;
    width: 285px;
    height: 420px;
    position: relative;
    cursor: pointer;
    transition: width 1s, height 1s;
    padding-top: 20px;
    color: rgb(69, 66, 69);
    cursor: pointer;
    font-family: Slack-Circular-Pro, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.1px
}
.posts:hover{
    width: 300px;
    height: 435px;    
}
.posts::after{
    content: '';
    width: 25px;
    height: 14px;
    position: absolute;
    bottom: 5px;
    right: 15px;
    background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D%220%200%2025%2014%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20stroke%3D%22%231264A3%22%20stroke-width%3D%222%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%20stroke-linecap%3D%22round%22%3E%3Cpath%20d%3D%22M1.548%207h21.904%22%2F%3E%3Cpath%20stroke-linejoin%3D%22round%22%20d%3D%22M17%201l7%206-7%206%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E);
}
.posts img{
    width: 100%
}
.posts h6{
    padding-top: 5px;
}
.posts h3{
    word-break: break-word;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-family: Slack-Larsseit, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px
}
.bottom-message{
    padding-top: 83px;
}
.clip{
    margin-top: 70px;
    padding-bottom:100px;
    background-color: #541554;
    clip-path: ellipse(75% 100% at center top);
    height: auto;
    min-height: 370px;
}

.clip-heading{ 
    font-family: Slack-Larsseit, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
    color: white;
    font-family: inherit;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    letter-spacing: -0.3px;
    line-height: 57px;
    padding-top: 62px;       
}
.button-element{
    padding-top: 32px;
    font-family: inherit;
    margin-left: 420px;              
}
.slack-button{
    font-family: Slack-Larsseit, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
    font-family: inherit;
    background-color: white; 
    color:  #541554;  
    padding: 20px 40px;          
}
.contact-button{
    font-family: Slack-Larsseit, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
    font-family: inherit;
    background-color: white; 
    color:  #541554;  
    padding: 20px 30px;      
}

/*section-5*/
.section-5{
    margin-top: 350px;
    display: inline-flex;
    margin-left: 60px;
}
.options-components{
    margin-left: 110px;
    margin-top: 30px;
    font-size: .875rem;
    height: 40px;   
} 
.WHY-SLACK{
    display: inline-flex;
}
.PRODUCT{
    display: inline-flex;
}
.PRICING{
    display: inline-flex;
}
.UI-components{
    cursor: pointer;
    color:black;
    margin-top: 25px;
    text-decoration: none;
    font-size: .875rem;
    height: 40px;  
}
.UI-components:hover {
    color: #1264a3;
}

